:root {
    --white-color: #ffffff;
    --hero-foot-bg: #2F303A;
    
    --team-butt-bg: #F5F4FA;

    --primary-color-text: #757575;
    --title-color-text: #212121;
    --active-bg-color: #2196F3;
    --active-butt-bg: #188CE8;
    --footer-color-a: rgba(255, 255, 255, 0.6);

}


body {
    font-family: 'Roboto', 'Verdana', 'Arial', 'snas-serif';

    color: var(--primary-color-text);
    background-color: var(--white-color);
    letter-spacing: 0.03em;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
}

img {
    display: block;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 94px 15px;
    
}
/* header */
.header-box {
    display: flex;
    padding: 0 15px;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.logo {
    font-family: 'Raleway', 'snas-serif';
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    color: var(--title-color-text) ;
}
.web-logo {
    color: var(--active-bg-color);
}

header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}
.navigation {
    
    display: flex;
    margin-left: 93px;
}
.navigation .item {
    display: block;
    padding: 32px 0;

}
.navigation .item:not(:last-child) {
    margin-right: 50px ;
    
}
nav {
    display: flex;
    align-items: center;
}
.nav-title {
    color: var(--title-color-text)
}
.activ {
    text-decoration: none;
}
.activ:hover,
.activ:focus,
.open {
    color:  var(--active-bg-color)
}

button {
    font: inherit;
    cursor: pointer;
}
.contact {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.contact .item:not(:last-child) {
    margin-right: 50px;
}
.mail {
    color: var(--primary-color-text);
}

/* hero */
.hero {
    background-color: var(--hero-foot-bg);
    padding: 200px 15px;
    text-align: center;
}

.hero-title {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.hero-button {
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    padding: 10px 32px;
    border-width: 0;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--active-bg-color);
}
.hero-button:hover {
    background-color: var(--active-butt-bg);
}
/* особливості */
.feature {
    display: flex;
    
}
.feat-cont {
    padding-bottom: 0;
}
.feature .item {
    width: 270px;
}
.feature .item:not(:last-child) {
    margin-right: 30px;
}
.feature-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    
    color: var(--title-color-text);
    text-transform: uppercase;
}

.feature-page {
    margin: 0;
    font-size: 14px;
    line-height: 1.71;
}
/* section */
.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-color-text);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
}
/* work */
.work {
    display: flex;
}


.work .item:not(:last-child) {
    margin-right: 30px;
}
/* team */
.sec-team {
    background-color: var(--team-butt-bg);
}
.team {
    display: flex;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    
}

.team-title {
    margin-bottom: 10px;
    
    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    color: var(--title-color-text);
}

.team-list {
    width: 270px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
}
.team-list:not(:last-child) {
    margin-right: 30px;
}
.team-text {
    padding: 30px 0;
}

/* footer */
footer {
    background-color: var(--hero-foot-bg);
}
footer .container {
    padding: 60px 15px;
}
address {
    font-style: normal;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.71;
}
address .item:not(:last-child) {
    margin-bottom: 9px;
}

footer .logo {
    color: var(--white-color)
}
.fotter-text {
    text-decoration: none;
    color: var(--white-color)
}
.fotter-text:hover,
.fotter-text:focus {
    color: var(--active-bg-color);
}
footer .mail {
    color: var(--footer-color-a);
}

/* portfolio */
.filters {
    display: flex;
    justify-content: center;
}
.filters button {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    background-color: var(--team-butt-bg);
    border-radius: 4px;
    border-color: var(--another-white);
    border-width: 0;
    padding: 6px 22px;
}
.filters li:not(:last-child) {
    margin-right: 8px;
}
.filters button:hover,
.filters button:focus {
    background-color: var(--active-bg-color);
    color: var(--white-color);
}

.portfolio {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    
}
.portfolio .item {
    margin-right: 30px;
    margin-bottom: 30px;

    
}
.portfolio .item:nth-child(3n) {
    margin-right: 0;
}
.portfolio .item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.portfolio .text {
    padding: 20px 24px;
    border: 1px solid rgba(238, 238, 238, 1)
}
.portfolio-title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color-text);
}
.portfolio-page {
    font-size: 16px;
    line-height: 1.88;
    
}